<h1>Remember Your Run</h1>
<h3>Running is healthy. Remember what you did!</h3>

<strong><h4>Your Previous Runs</h4></strong>
<% @calendars.each do |cal| %>
  <h4><%= link_to cal.name, calendar_path(cal) %></h4>
<% end %>

<br><br><br><br>
